@font-face {
    font-family: 'icomoon';
    src:  url('../icons/icomoon.eot?eza8q8');
    src:  url('../icons/icomoon.eot?eza8q8#iefix') format('embedded-opentype'),
    url('../icons/icomoon.ttf?eza8q8') format('truetype'),
    url('../icons/icomoon.woff?eza8q8') format('woff'),
    url('../icons/icomoon.svg?eza8q8#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}